<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gatering</title>
    <!--Llamar bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--Enlazar CSS personalizado-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/static/style/style.css') }}">
    </style>
</head>
<body>

  <div class="bg-head"></div>
  <div style="margin-bottom: 20px;"></div>

   <!-- Barra de navegación horizontal -->
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand">The Gatering</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/IX">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/RH">Recursos Humanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/MR">Mentores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/TR">Trainers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </div>

    <div class="container mt-5">
        <!-- Contenido de la página aquí -->
        <h1>Contenido Principal</h1>
        <div style="margin-bottom: 20px;"></div>
        <p>
            Esta pagina ayudara a las areas de R.H y a los mentores a pode llevar una buena administracion 
            relacionada a los practicantes, trainers o becarios, facilitando el seguimiento, al igual que 
            el proceso de aprendizaje que lleva cada uno del personal nuevo dentro de la empresa. 
        </p>
    </div>
</body>
</html>
